{% extends "layout_app.html" %}
{% from "partials/forms.html" import campo %}
{% block titulo %}{{ titulo }}{% endblock %}
{% block cabecalho %}{{ titulo }}{% endblock %}

{% block conteudo %}
<div class="card card-stat"><div class="card-body p-4">
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-4">{{ campo(form.tipo, ajuda="O definitivo conforme lança a entrada valorada.") }}</div>
      <div class="col-md-4">{{ campo(form.data) }}</div>
      <div class="col-md-4 d-flex align-items-center">{{ campo(form.conforme) }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{ campo(form.nota_fiscal_id) }}</div>
      <div class="col-md-6">{{ campo(form.setor_id) }}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{{ campo(form.empenho_id) }}</div>
      <div class="col-md-6">{{ campo(form.contrato_id) }}</div>
    </div>
    {{ campo(form.observacoes) }}
    <div class="d-flex gap-2 mt-2">
      {{ form.submit(class="btn btn-primary") }}
      <a href="{{ url_for('publico.recebimentos') }}" class="btn btn-light">Cancelar</a>
    </div>
  </form>
</div></div>
{% endblock %}
